# Terraform local files
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Lambda/package artifacts
*.zip
__pycache__/
*.py[cod]

# OS/editor local files
.DS_Store
Thumbs.db
